version: "3"

services:
  bedrock:
    image: itzg/minecraft-bedrock-server:latest
    container_name: mumu-server
    restart: unless-stopped

    ports:
      - "19132:19132/udp"

    environment:
      - EULA=TRUE
      - SERVER_NAME=MumuServer
      - GAMEMODE=survival
      - DIFFICULTY=normal
      - ONLINE_MODE=true

    volumes:
      - ./data:/data
